<div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
        <% @threads.each do |t|%>
        <div class="thread">
            <h3 class="title"><%= t.title.titleize %></h3>

            <div class="meta"><%= I18n.l(t.created_at.to_date) %> Oleh <%= t.user.name %></div>

            <div class="content">
                <%= t.content %>
            </div>

            <div class="count">
                <%= t.forum_posts.count %> Obrolan
            </div>
            <div style="clear: both"></div>
        </div>
        <% end %>
    </div>
</div>