<div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
        <div class="thread">
            <h3 class="title"><%= @thread.title.titleize %></h3>

            <div class="meta"><%= I18n.l(@thread.created_at.to_date) %> Oleh <%= @thread.user.name %></div>

            <div class="content">
                <%= @thread.content %>
            </div>
        </div>

        <% if @thread.forum_posts.any? %>
        <% @thread.forum_posts.each do |p| %>
        <div class="thread">

            <div class="meta"><%= I18n.l(p.created_at.to_date) %> Oleh <%= p.user.name %></div>

            <div class="content">
                <%= p.content %>
            </div>
        </div>
        <% end %>
        <% else %>
        <div>
            Jadilah yang pertama memberi tanggapan
        </div>
        <% end %>

        <% if @post.errors.any? %>
        <div>
            <% @post.errors.full_messages.each do |error| %>
            <div class="notification is-danger">
                <button class="delete"></button>
                <%= error %>
            </div>
            <% end %>
        </div>
        <% end %>

        <% if user_signed_in? %>
        <%= form_for [@thread, @post] do |f| %>
        <div class="field">
            <%= f.label :content, class: "label" %>
            <div class="control">
                <%= f.text_area :content, class: "textarea", placeholder: "Entry content" %>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <%= f.button :simpan, class: "button is-link" %>
            </div>
        </div>
        <% end %>
        <% end %>
    </div>
</div>